<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SomeDataBaseEditor.Properties.Settings.UchPlanConnectionString"
            connectionString="Data Source=.\SQLEXPRESS2014;Initial Catalog=UchPlan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>